# Игнорируемые папки
приколы/
python-telegram-bot-calendar-master/
task_telegram_bot/


# Игнорируемые файлы
библиотека_AutoPy.py
скрипт отправки сообщений .py

# Дополнительные стандартные игнорирования (рекомендуется добавить)
__pycache__/
*.log
*.tmp
*.swp
.env
*.ini